.cinema-heading {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-weight: bold
}
th, td {
  padding: 15px;
}

.cinema-table {
  margin: auto;
  width: 65%;
  margin-top: 40px;
}

